<h2><%= t :signup%></h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :autofocus => true %> 
  <%= f.input :email, :required => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
  <% submit_label = (t 'simple_form.labels.user.new.submit') %>
  <%= f.button :submit, submit_label , :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>
