  <%= form_tag :controller => 'books', :action => 'search', :method => 'get' do %>
      <%= text_field_tag :search, params[:search], :id => 'search_field' %>
      <%= submit_tag "Search", :name => nil %> 
      <%= link_to_function "Clear", "$('search_field').clear()" %>
  <% end %> 
<ul>
<!--result manamgment-->
<% if (@books.length > 2) %>
<%for i in 0..10 do %>
  <%book = @books[i]%>
  <li>
    <%= book.title %>
  </li>
<% end%>
<%else%>
<%for book in @books%>
    <li>
    <%= book.title %>
  </li>
<%end%>
<%end%>
</ul>
