  <%= form_tag( {:controller => "books", :action => "search"}, :class=>'form-search') do %>
      <%= text_field_tag :search, params[:search], :id => 'search_field' %>
      <%= submit_tag "Search", :name => nil, :class=>"btn" %> 
      <%= link_to_function "Clear", "document.getElementById('search_field').value=''" %>
  <% end %> 
<ul>
<!--result manamgment-->
<% if (@books.length == 0) %>
<%else%>
<%for book in @books%>
    <li>
    <%= book.title %>
  </li>
<%end%>
<%end%>
</ul>
