<% book = @book%>
<h2>
<%= book.title %>
</h2>
<h4>
by <%=book.author%>
</h4>
<%=link_to (t :Gutenberg) , book.gutenberg, :class=>"label label-inverse" %>
<% if not wikipedia(locale,book).empty? %>
<%=link_to (t :Wikipedia), wikipedia(locale,book), :class=>"label label-inverse"%>
<%end%>
<%res = amazon(book)%>
<%= p res %>
  

